<!DOCTYPE html>
<html>
<head>
<style>

html {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    overflow-y: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

html body * {
    max-height: 999999px;
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
  font-family: 'Roboto Condensed', sans-serif;
}

h1.title {
    text-align:center;
}

html, body {
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
} 

body {
    background-color: #FFF;
}

#navBar {
    background: #FFF;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    font-size: 24px;
    z-index: 100;

    border-bottom: 2px solid #f1f1f1;

    -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.03);
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.03);
    -o-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.03);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.03);

    font-family: 'Roboto Condensed', sans-serif;
}

#navBar, #navSpacing {
    height: 45px;
}

#navBar a
{
    text-decoration: none;
    color: #333;
}

#navBar ul
{
    list-style: none;
    padding: 0;
    margin: 5px auto 8px auto;
}

#navBar ul ul {
    margin-top: 7px;
    margin-left: -10px;
    font-size: 18px;
}

#navBar > ul {
    width: 1100px;
}

#navBar li
{
    float: left;
    margin-right: 5px;
}

#navBar li a {
    display: block;
    background-color: transparent;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 6px 10px 8px 10px;
    margin-top: -3px;
}

#navBar li li a {
 
}

#navBar > ul > li > div {
 
}

#navBar > ul > li:hover > div, #navBar > ul:not(:hover) > li.selected > div {

}

#navBar > ul > li:hover > div a {
}

#navBar li li {
    position: relative;
    z-index: 1;
}

#navBar li li:hover {
    z-index: 2;

    //-moz-box-shadow: 0px 4px 8px 0px #111;
    //-webkit-box-shadow: 0px 4px 8px 0px #111;
    //-o-box-shadow: 0px 4px 8px 0px #111;
    //box-shadow: 0px 4px 8px 0px #111;
}

#navBar li ul
{
    pointer-events: none;
    opacity: 0;

    position: absolute;
    padding: 0;
    background-color:#FFF;

    -moz-box-shadow: 0px 1px 8px 0px #555;
    -webkit-box-shadow: 0px 1px 8px 0px #555;
    -o-box-shadow: 0px 1px 8px 0px #555;
    box-shadow: 0px 1px 8px 0px #555;
}

#navBar li:hover ul
{
    pointer-events: all;
    opacity: 1;
    transform: scale(1);
}

#navBar li li
{
    margin: 0;
    float: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#navBar li li a
{
    background: #FFF;
}

#wrapper {
    overflow: hidden;
    position:relative;
    margin: auto;
    margin-top: -1px;
    width:800px;
    min-height:100%;
    padding-bottom:1px;
    background: #FFF;

    border-left: 2px solid #f1f1f1;
    border-right: 2px solid #f1f1f1;    

    -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.03);
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.03);
    -o-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.03);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.03);

    /*-moz-box-shadow: 0px 1px 8px 0px #555;
    -webkit-box-shadow: 0px 1px 8px 0px #555;
    -o-box-shadow: 0px 1px 8px 0px #555;
    box-shadow: 0px 1px 8px 0px #555;*/
}

#pageContent {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
    position: relative;
}

#pageContent p.noindent {
  text-indent: 0;
}

.textsection {
    color: #333;
}

#footseperator {
    width: 100%;
    height: 20px;
    background-color: #333;
    margin-bottom: 5px;
    box-shadow: #AAA 0px 5px 10px;
}

#footer {
    position: absolute;
    bottom:0;
    background: #FFF;
    width:100%;
    height:25px;
    text-align: center;
    padding-bottom: 25px;
}

#footer p {
    font-size: 14px;
}

p {
    margin: 0;
    line-height: 24px;
}

a {
    color: #F00;

    -webkit-transition: text-shadow 0.2s ease, color 0.2s ease;
    -moz-transition: text-shadow 0.2s ease, color 0.2s ease;
    -o-transition: text-shadow 0.2s ease, color 0.2s ease;
    -ms-transition: text-shadow 0.2s ease, color 0.2s ease;
    transition: text-shadow 0.2s ease, color 0.2s ease;
}

a:hover {
    color: #02adea !important;
}

html .button {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    background-color: #FFF;
    color: #333;

    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;

    -moz-box-shadow: 0px 1px 4px 0px #777;
    -webkit-box-shadow: 0px 1px 4px 0px #777;
    -o-box-shadow: 0px 1px 4px 0px #777;
    box-shadow: 0px 1px 4px 0px #777;
}

html .button:hover {
    background-color: #F00;
    color: #FFF;

    transition-duration: 0.1s;
    transform:scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */
}

img {
    opacity: 1;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.loading img {
    opacity: 0;
}

/* Loading spinner taken from here: http://stephanwagner.me/only-css-loading-spinner */
@keyframes spinner {
    to {transform: rotate(360deg);}
}

@-webkit-keyframes spinner {
    to {-webkit-transform: rotate(360deg);}
}

.loading {
    min-width: 24px;
    min-height: 24px;
    position: relative;
}

.loading:before {
    content: 'Loading';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-top: -10px;
    margin-left: -10px;
}

.loading:not(:required):before {
    content: '';
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, .3);
    border-top-color: rgba(0, 0, 0, .6);
    animation: spinner .6s linear infinite;
    -webkit-animation: spinner .6s linear infinite;
}

hr {
    margin-top: 0;

    display: block; height: 1px;
    border: 0; border-top: 2px solid #F22;
    padding: 0; 
}
</style>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro"></link>
    <title>Resume &#124; chrisflanagan.me</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700|Roboto Condensed" rel="stylesheet" type="text/css"></link>
    <link rel="stylesheet" type="text/css" href="styles/resume.css"></link>
    <link rel="stylesheet" type="text/css" href="styles/base_resume.css"></link>
</head>

 <!--Background pattern from subtlepatterns.com -->
<body background="images/crossword.png">
    <div class="resume_content">
        <div id="resume_wrapper">
            <div id="header_relative">
                <div id="header"><h1>Chris Flanagan</h1>
                    <div class="contact_info">
                        <div>
                            <div class="image_container loading"><img src="images/email_icon.svg" alt="email" title="email" onload="this.parentNode.classList.remove('loading')"></img></div>
                            <a href="mailto:crflanag@gmail.com">crflanag@gmail.com</a>
                        </div>
                        <div>
                            <div class="image_container loading">
                                <img src="images/github_icon.svg" alt="github" title="github" onload="this.parentNode.classList.remove('loading')"></img>
                            </div>
                            <a href="http://github.com/ChrisFlanTheMan/">github.com&#47;ChrisFlanTheMan</a>
                        </div>
                        <div>
                            <div class="image_container loading"><img src="images/phone_icon.svg" alt="phone number" title="phone number" onload="this.parentNode.classList.remove('loading')"></img></div>
                            <a href="tel:+15197817492">&#43;1-519-781-7492</a></div>
                            <div>
                                <div class="image_container loading"><img src="images/link_icon.svg" alt="link" title="link" onload="this.parentNode.classList.remove('loading')"></img></div>
                                <a href="http://chrisflanagan.me">chrisflanagan.me</a></div>
                            </div>
                        </div>
                        <div id="resume_body">
                            <div class="section" id="work-experience_section">
                                <h2>Work Experience</h2>
                                <div class="section_content">
                                    <div class="subsection" id="senior_software_developer_subsection">
                                        <div class="subsection_header"><h3>Senior Software Developer</h3></div>
                                            <div class="subsection">
                                            <div class="subsection_header" style="margin-top: 0px; margin-left: 4px;"><h4>Lululemon</h4></div>
                                            <div class="inner_content">
                                                <div>
                                                    <div>
                                                        <ul>
                                                            <li>
                                                              Backend Developer on the B2B Project, building AWS-based applications to enable Lululemon partners to purchase products wholesale.
                                                            </li>
                                                            <li>
                                                              Lead Developer on the B2B Inventory Project, empowering internal Ops teams to update and reallocate inventory in near real time.
                                                            </li>
                                                            <li>
                                                              Supported U.S. and Canadian launches generating millions in revenue, with ongoing growth.
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="right_info">
                                                <div>
                                                    <div class="image_container loading"><img src="images/link_icon.svg" alt="link" title="link" onload="this.parentNode.classList.remove('loading')"></img></div>
                                                    <a href="https://www.lululemon.com/">lululemon.com</a>
                                                </div>
                                                <div>
                                                    <div class="image_container loading"><img src="images/location_icon.svg" alt="location" title="location" onload="this.parentNode.classList.remove('loading')"></img></div>
                                                    Vancouver, Canada
                                                </div>
                                                <div>
                                                    <div class="image_container loading"><img src="images/calendar_icon.svg" alt="date" title="date" onload="this.parentNode.classList.remove('loading')"></img></div>
                                                    Jan 2024 - Present (1.5 years)
                                                </div>
                                                <div>
                                                    <div class="image_container loading"><img src="images/lang_icon.svg" alt="language(s)" title="language(s)" onload="this.parentNode.classList.remove('loading')"></img></div>
                                                    Java
                                                </div>
                                                <div>
                                                    <div class="image_container loading"><img src="images/gear_icon.svg" alt="APIs/frameworks used" title="APIs/frameworks used" onload="this.parentNode.classList.remove('loading')"></img></div>
                                                    Spring, Kafka, AWS, CommerceTools, DocumentDB, DynamoDB, S3
                                                </div>
                                            </div>  
                                        </div>
                                         <div class="subsection">
                                            <div class="subsection_header" style="margin-top: 0px; margin-left: 4px;"><h4>UKG</h4></div>
                                            <div class="inner_content">
                                                <div>
                                                    <div>
                                                        <ul>
                                                            <li>Primary technical designer for microservices-based, asynchronous, event-driven workflow automation software.</li>
                                                            <li>Focused on enabling internal teams to develop low code solutions by leveraging automation ecosystem.</li>
                                                            <li>Mentored team members in creating efficient, maintainable, readable and robust technical designs and implementations.</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="right_info">
                                                <div>
                                                    <div class="image_container loading"><img src="images/link_icon.svg" alt="link" title="link" onload="this.parentNode.classList.remove('loading')"></img></div>
                                                    <a href="https://www.ukg.com/">ukg.com</a>
                                                </div>
                                                <div>
                                                    <div class="image_container loading"><img src="images/location_icon.svg" alt="location" title="location" onload="this.parentNode.classList.remove('loading')"></img></div>
                                                    Remote, Canada
                                                </div>
                                                <div>
                                                    <div class="image_container loading"><img src="images/calendar_icon.svg" alt="date" title="date" onload="this.parentNode.classList.remove('loading')"></img></div>
                                                    Apr 2021 - Aug 2023 (2.5 years)
                                                </div>
                                                <div>
                                                    <div class="image_container loading"><img src="images/lang_icon.svg" alt="language(s)" title="language(s)" onload="this.parentNode.classList.remove('loading')"></img></div>
                                                    Java, Angular JS
                                                </div>
                                                <div>
                                                    <div class="image_container loading"><img src="images/gear_icon.svg" alt="APIs/frameworks used" title="APIs/frameworks used" onload="this.parentNode.classList.remove('loading')"></img></div>
                                                    Spring, Kafka, Camunda, Docker, Kubernetes, MongoDB, MySQL
                                                </div>
                                            </div>  
                                    </div>
                                    <div class="subsection" id="software_developer_subsection">
                                        <div class="subsection_header"><h3>Software Developer</h3></div>
                                        <div class="subsection">
                                            <div>
                                                <div>
                                                    <div class="subsection_header" style="margin-top: 0px; margin-left: 4px;"><h4>UKG</h4></div>
                                                    <div class="inner_content">
                                                        <ul>
                                                            <li>Spearheaded automation solution for US Tax processes, from inception to implementation.</li>
                                                            <li>Successfully delivered the project, resulting in annual cost savings exceeding $300,000.</li>
                                                            <li>Collaborated with teams across the organization, ensuring seamless integration across internal APIs and external products.</li>
                                                        </ul>
                                                    </div>
                                                    <div class="right_info">
                                                        <div>
                                                            <div class="image_container loading"><img src="images/location_icon.svg" alt="location" title="location" onload="this.parentNode.classList.remove('loading')"></img></div>
                                                            Toronto, Ontario
                                                        </div>
                                                        <div>
                                                            <div class="image_container loading"><img src="images/calendar_icon.svg" alt="date" title="date" onload="this.parentNode.classList.remove('loading')"></img></div>
                                                            Apr 2017 - Apr 2021 (4 years)
                                                        </div>
                                                        <div>
                                                            <div class="image_container loading"><img src="images/lang_icon.svg" alt="language(s)" title="language(s)" onload="this.parentNode.classList.remove('loading')"></img></div>
                                                            Java, Angular JS
                                                        </div>
                                                        <div>
                                                            <div class="image_container loading"><img src="images/gear_icon.svg" alt="APIs/frameworks used" title="APIs/frameworks used" onload="this.parentNode.classList.remove('loading')"></img></div>
                                                            Spring, Camunda, MongoDB, MySQL, Docker, RabbitMQ, Salesforce
                                                        </div>
                                                    </div>  
                                                </div>
                                            </div>
                                        </div>
                                    </div>                       
                                </div>
                            </div>
                            <div class="section" id="personal-projects_section">
                                <h2>Projects</h2>
                                <div class="section_content">
                                    <div class="subsection" id="camunda_message_streaming_subsection">
                                        <div>
                                            <div class="subsection_header"><h3>Camunda Message Streaming</h3>
                                        </div>
                                        <div class="inner_content">
                                            <ul>
                                                <li>Developed an open-source library to facilitate seamless integration of Camunda workflow engine with messaging solutions.</li>
                                                <li>Showcased at Camunda UnConference 2021 to more than 50 engaged Camunda developers.</li>
                                            </ul>
                                        </div>
                                        <div class="right_info">
                                            <div>
                                                <div class="image_container loading"><img src="images/link_icon.svg" alt="link" title="link" onload="this.parentNode.classList.remove('loading')"></img></div>
                                                <a href="https://github.com/UltimateSoftware/camunda-message-streaming">Camunda Message Streaming</a>
                                            </div>

                                            <div>
                                                <div class="image_container loading"><img src="images/lang_icon.svg" alt="language(s)" title="language(s)" onload="this.parentNode.classList.remove('loading')"></img></div>
                                                Java, Camunda, Kafka
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="subsection" id="personal_website_subsection">
                                        <div>
                                            <div class="subsection_header"><h3>chrisflanagan.me</h3>
                                        </div>
                                        <div class="inner_content">
                                            <ul>
                                                <li>Created a Node.js webapp to host professional content.</li>
                                                <li>Hosted via alias from a Heroku web server.</li>
                                            </ul>
                                        </div>
                                        <div class="right_info">
                                            <div>
                                                <div class="image_container loading"><img src="images/link_icon.svg" alt="link" title="link" onload="this.parentNode.classList.remove('loading')"></img></div>
                                                <a href="chrisflanagan.me">chrisflanagan.me</a>
                                            </div>
                                            <div>
                                                <div class="image_container loading"><img src="images/lang_icon.svg" alt="language(s)" title="language(s)" onload="this.parentNode.classList.remove('loading')"></img></div>
                                                Node.js, Html
                                            </div>
                                        </div>                             
                                    </div>
                                </div>                            
                            </div>
                            <div class="section" id="school_section"><h2>School</h2>
                                <div class="section_content"><p>Bachelors of Computer Science - University of Waterloo</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
</body></html>