<!DOCTYPE html>
<html>
<head>
	<style>
		.box {
	border-radius: 5px;
	background-color: #8DD4DE;
}

.info {
	margin-top: -42px;
	margin-right: 5px;
	text-align: right;
	font-size: 15px;
	padding-bottom: 1px;
}

.skills {
	font-weight: 900;
	font-size: 15px;
	padding-bottom: 2px;	
}

h1 {
	margin: 2px;
	color: white;
}

h2 {
	margin: 2px;
	color: white;
	text-align: center;
}

h3 {
	margin: 1px;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 22px;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 17.5px;
}

ul {
	margin-top: 5px;
}

li {
	margin-top: 6px;
}

	</style>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="box" style="height: 55px; background-color: #2B3A42; padding-top: 2px; padding-bottom: 10px;">
		<div style="float: left; width: 40%">
			<h1 style="margin: 0; padding-left: 7px; padding-bottom: 0; font-size: -webkit-xxx-large">Chris Flanagan</h1>
		</div>
		<div style="float: left: width: 60%; padding-top: 10px">
			<h4 style="text-align: right; margin: 0; padding-top: 0; color: white;">
				<div>4A Computer Science - Est. Graduation: December 2016 &nbsp;</div>
				<div>Email: chris.flanagan@uwaterloo.ca &nbsp;&nbsp;</div>
			</h4>
		</div>
	</div>
	<div style="width: 58%;float: left">
		<div>
			<h2 class="box" style="background-color: #3F5765">Work Experience</h2>
			<div>
				<div class="box" style="padding-left: 5px; margin: 1px; margin-left: 5px; margin-right: 5px">
					<div style="">				
						<h3 style="padding-top: 3px; font-size: 28px">Lumosity</h3>
					</div>
					<div class="info">
						<div style="font-style: italic">
							Jan 2015 - Aug 2015
						</div>						
						<div class="skills">(Cocos2D, C++, Python, Actionscript)</div>						
					</div>
				</div>				
				<ul style="margin-bottom: 11px">
					<li>Revamped and released a rework of one of the historically most popular Lumosity games (Word Bubbles)</li>
					<ul>
						<li>Implemented brand new gameplay mechanics, animations and artwork</li>
						<li>Rigorously tuned scoring and leveling systems with real-time user data</li>						
					</ul>
					<li>Prototyped various new games for the Lumosity brand</li>
					<ul>
						<li>One was rated to be the next best candidate to become a Lumosity game during a company game jam</li>
					</ul>
					<li>Implemented solutions and brought all games to release for several major cross-team projects</li>
					<ul>
						<li>Projects included multi-language internationalization and a cross-platform level sync
					</ul>
				</ul>
			</div>				
			<div>
				<div class="box" style="padding-left: 5px; margin: 1px; margin-left: 5px; margin-right: 5px;">				
					<div style="">				
						<h3 style="padding-top: 3px; font-size: 28px">EDP Software</h3>
					</div>
					<div class="info">
						<div style="font-style: italic">
							Sept 2013 - Aug 2014
						</div>
						<div class="skills">(AngularJS, C#, Javascript, .NET)</div>												
					</div>
				</div>			
				<ul>
					<li>Architected and implemented a powerful new way of presenting schedules</li>
					<ul>
						<li>Created to organize information based on an operational mindset</li>
					</ul>
					<li>Pioneered an entire onboarding system</li>
					<ul>
						<li>Created to get a new master user up and running within minutes</li>
						<li>Bridges the knowledge gap between Fortune 500 schedulers and the SchedulePro system</li>
					</ul>
				</ul>					
			</div>
		</div>
	</div>

	<div style="width: 42%; float:left">
			<h2 class="box" style="background-color: #3F5765">Personal Projects</h2>
			<div>
				<div class="box" style="padding-left: 5px; margin: 1px; margin-left: 5px; margin-right: 5px">						
					<h3>AR Scavenger Hunt</h3>
					<div class="info" style="margin-top: -20px">
						<div class="skills">(Unity, C#)</div>						
					</div>					
				</div>			
				<ul>
					<li>Players search for virtual items at Lumosity HQ visible via a mobile device</li>
					<li>Find all the objects using the clues and try to get the best score</li>
					<li>Integrated API Live Scoreboard</li>
					<li>Built during a 48-hour hackathon at Lumosity</li>					
				</ul>
			</div>			
			<div>
				<div class="box" style="padding-left: 5px; margin: 1px; margin-left: 5px; margin-right: 5px">						
					<h3>UniEvents</h3>
					<div class="info" style="margin-top: -20px">
						<div class="skills">(Rails, PostgreSQL)</div>
					</div>					
				</div>				
				<ul>
					<li>Web application for helping students find events on their campus</li>
					<li>Lead developer of a three person team</li>
					<li>Used as a learning experience into Rails programming</li>
				</ul>
			</div>
			<div>
				<div class="box" style="padding-left: 5px; margin: 1px; margin-left: 5px; margin-right: 5px">						
					<h3>5 D's of Dodgeball</h3>
					<div class="info" style="margin-top: -20px">
						<div class="skills">(Java)</div>				
					</div>					
				</div>				
				<ul>
					<li>Top Down 2D Dodgeball Game</li>
					<li>Built using Java Slick library</li>
				</ul>
			</div>
			<div style="width: 100%">
				<h2 class="box" style="background-color: #3F5765">About Me</h2>
				<ul>
					<li>I love to dance and explore the city</li>
					<li>Ramen is one of my absolute favourite dishes</li>
					<li>I have spent too many hours of my life gaming</li>
				</ul>
			</div>
		</div>


</body>
</html>